In [1]:
# import dependencies
import numpy as np
import pandas as pd

In [2]:
# read data file
dataframe = pd.read_csv('./data/megasena.csv', header=None, names=['1st', '2nd', '3rd', '4th', '5th', '6th'])
dataframe.dropna(inplace=True)

In [3]:
# view some data
dataframe.head()

    1st   2nd   3rd   4th   5th   6th
0  41.0   5.0   4.0  52.0  30.0  33.0
1   9.0  39.0  37.0  49.0  43.0  41.0
2  36.0  30.0  10.0  11.0  29.0  47.0
3   6.0  59.0  42.0  27.0   1.0   5.0
4   1.0  19.0  46.0   6.0  16.0   2.0